{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Adward</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.css' %}" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="{%static 'css/css-circular-prog-bar.css' %}">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="{%static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{%static 'css/responsive.css' %}" rel="stylesheet" />




  <link rel="stylesheet" href="{%static 'css/css-circular-prog-bar.css' %}">


</head>

<body>
  <div class="top_container">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <img src="{%static 'images/logo.png' %}" alt="">
            <span>
              Adward
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{%url 'index' %}"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{%url 'StudentsDoubts' %}"> Students Doubts </a>
                  </li>
  
                  <li class="nav-item">
                    <a class="nav-link" href="{%url 'Myanswers' %}"> My Answers</a>
                  </li>
  
                  <li class="nav-item">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{request.user.first_name}}</a>
                    <div class="dropdown-menu">
                    <a href="{%url 'signout' %}" class="dropdown-item">Logout</a>             
                  </li>

              </ul>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
        </nav>
      </div>
    </header>


    <section class="contact_section layout_padding-bottom">
        <div class="container">
    <br><br><br>
          <h2 class="main-heading" style= "color:#fec913">
            Your Questions
    
          </h2>
          <p class="text-center">
            
    
          </p>
          <div class="">
            <div class="contact_section-container">
              <div class="row">
                <div class="col-md-6 mx-auto">
                  <div class="contact-form">
                    {% for m in messages %}
                    <h6 style="color:red">{{m}}</h6>
                      
                    {% endfor %}
                    <table class="table table-info">
                        <tr>
                            <th>Doubts</th>
                            <th>Answer</th>
                            <th>Date</th>
                            <th>Delete</th>
                        </tr>
                        {% for i in doubts%}
                        <tr>
                            <td>{{i.Question}}</td>
                            <form action="{%url 'updateanswer' i.QuestionID %}" method="post">
                                {% csrf_token %}
                            <td><input type="text" name="answer" value="{{i.Answer}}"></td>
                            <td style="font-size: smaller;">{{i.Question_date}}</td>
                            <td><button type="submit" class="btn btn-outline-info btn-sm">Update</button></td>
                        </form>

                        </tr>
                        {% endfor %}
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </section>

<br><br><br><br><br><br><br><br><br><br><br>
    <section class="container-fluid footer_section">
        <p>
          Copyright &copy; 2019 All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a>
        </p>
      </section>
      <!-- footer section -->
    
      <script type="text/javascript" src="{%static 'js/jquery-3.4.1.min.js' %}"></script>
      <script type="text/javascript" src="{%static 'js/bootstrap.js' %}"></script>
    
      <script>
        // This example adds a marker to indicate the position of Bondi Beach in Sydney,
        // Australia.
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            center: {
              lat: 40.645037,
              lng: -73.880224
            },
          });
    
          var image = "{%static 'images/maps-and-flags.png' %}";
          var beachMarker = new google.maps.Marker({
            position: {
              lat: 40.645037,
              lng: -73.880224
            },
            map: map,
            icon: image
          });
        }
      </script>
      <!-- google map js -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap">
      </script>
      <!-- end google map js -->
    </body>
    
    </html>